[submodule "cpp/submodules/parquet-testing"]
	path = cpp/submodules/parquet-testing
	url = https://github.com/apache/parquet-testing.git
[submodule "testing"]
	path = testing
	url = https://github.com/apache/arrow-testing
[submodule "csharp/tools/GtkSharp"]
	path = csharp/tools/GtkSharp
	url = https://github.com/GtkSharp/GtkSharp.git
